#macro(drawDimension $dimensions $id $sep)
  #set($result='')
  #foreach($dimension in $dimensions)
    #if ($dimension.id == $id)
      #set($entitiesCount = $dimension.entities.size())
      #if($entitiesCount > 0)
        #foreach($entity in $dimension.entities)
          #if ($foreach.count > 1)
            #set($result="${result}${sep}")
          #end
          #set($result="${result}${entity.name}")
        #end
      #end
      #break
    #end
  #end
  $result.trim()
#end
#macro(cdata $value)<![CDATA[$!value]]>#end
#set($link = "#link({'path': $content.parentIds, 'htmlEncodeLink': 'true', 'requestAttribs': {'localLinksEnabled': 'false'}})")
<item>
  <title>#cdata($content.name)</title>
  <link>$!link</link>
  <guid>$audioFile</guid>

  <description>#cdata($content.contentData.description)</description>

  ## setting length to 0 otherwise the rss is not well formed.
  <enclosure url="$audioFile" length="0" type="$audioType"/>

#set($dimensions = $content.metadata.dimensions)
#set($category="#drawDimension($dimensions, 'dimension.IPTC', ',')")
#if ($category)
  <category>#cdata($category.trim())</category>
#end
  <pubDate>$date.format("E, dd MMM yyyy HH:mm:ss Z", $content.contentCreationTime)</pubDate>

#if ($content.contentData.byline)
  <itunes:author>$content.contentData.byline</itunes:author>
#end
  <itunes:explicit>No</itunes:explicit>
  <itunes:subtitle>#cdata($content.contentData.description)</itunes:subtitle>
  <itunes:summary>#cdata($content.contentData.description)</itunes:summary>
  <itunes:duration>#cdata($content.durationStr)</itunes:duration>

#set($tags="#drawDimension($dimensions, 'dimension.Tag', ',')")
#if ($tags)
  <itunes:keywords>#cdata($tags.trim())</itunes:keywords>
#end

</item>
